<div id="password-container" class="center">
  {% if section.settings.custom_logo != nil %}
    <div class="password-page-row">
      <div class="password-page-col">
          <img class="password-logo" src="{{ section.settings.custom_logo | img_url: '720x' }}" alt="{{ shop.name }}" />
      </div>
    </div>
  {% else %}
    <div class="password-page-row">
        <div class="password-page-col">
          <h1 class="logo">{{ shop.name }}</h1>
        </div>
    </div>
  {% endif %}
  <div class="password-page-row">
    <div class="password-page-col">
      <h3 class="password-page-message">{{ 'general.password_page.opening_soon' | t }}</h3>
    </div>
  </div>
  {% unless shop.password_message == blank %}
  <div class="password-page-row">
    <div class="password-page-col">
      <p class="password-message">{{ shop.password_message }}</p>
    </div>
  </div>
  {% endunless %}
  <div class="controls">
    <div id="open-me">
      <a href="#">&#8226; {{ 'general.password_page.login_form_heading' | t }} &#8226;</a>
    </div>
  </div>

  <div class="password-page-row">
    <div class="password-page-col">
      {% if section.settings.newsletter_richtext != blank %}
        {{ section.settings.newsletter_richtext }}
      {% endif %}
      {% include 'newsletter' %}
        <p class="password-page-follow">{{ 'general.password_page.signup_form_heading' | t }}</p>
    </div>
  </div>

  <div class="password-page-row">
    <div class="password-page-col password-social">
      {% if section.settings.social_media %}
        <ul class="social_icons">
          {% if settings.twitter_link != '' %}
            <a href="{{ settings.twitter_link }}" title="{{ shop.name }} on Twitter" class="ss-icon" rel="me" target="_blank">
              <span class="icon-twitter"></span>
            </a>
          {% endif %}

          {% if settings.facebook_link != '' %}
            <a href="{{ settings.facebook_link }}" title="{{ shop.name }} on Facebook" class="ss-icon" rel="me" target="_blank">
              <span class="icon-facebook"></span>
            </a>
          {% endif %}

          {% if settings.youtube_link != '' %}
            <a href="{{ settings.youtube_link }}" title="{{ shop.name }} on YouTube" class="ss-icon" rel="me" target="_blank">
              <span class="icon-youtube"></span>
            </a>
          {% endif %}

          {% if settings.vimeo_link != '' %}
            <a href="{{ settings.vimeo_link }}" title="{{ shop.name }} on Vimeo" class="ss-icon" rel="me" target="_blank">
              <span class="icon-vimeo"></span>
            </a>
          {% endif %}

          {% if settings.pinterest_link != '' %}
            <a href="{{ settings.pinterest_link }}" title="{{ shop.name }} on Pinterest" class="ss-icon" rel="me" target="_blank">
              <span class="icon-pinterest"></span>
            </a>
          {% endif %}

          {% if settings.tumblr_link != '' %}
            <a href="{{ settings.tumblr_link }}" title="{{ shop.name }} on Tumblr" class="ss-icon" rel="me" target="_blank">
              <span class="icon-tumblr"></span>
            </a>
          {% endif %}

          {% if settings.instagram_link != '' %}
            <a href="{{ settings.instagram_link }}" title="{{ shop.name }} on Instagram" class="ss-icon" rel="me" target="_blank">
              <span class="icon-instagram"></span>
            </a>
          {% endif %}

          {% if settings.linkedin_link != '' %}
            <a href="{{ settings.linkedin_link }}" title="{{ shop.name }} on LinkedIn" class="ss-icon" rel="me" target="_blank">
              <span class="icon-linkedin"></span>
            </a>
          {% endif %}

          {% if settings.flickr_link != '' %}
            <a href="{{ settings.flickr_link }}" title="{{ shop.name }} on Flickr" class="ss-icon" rel="me" target="_blank">
              <span class="icon-flickr"></span>
            </a>
          {% endif %}

          {% if settings.email_link != '' %}
            <a href="mailto:{{ settings.email_link }}" title="Email {{ shop.name }}" class="ss-icon" target="_blank">
              <span class="icon-mail"></span>
            </a>
          {% endif %}
        </ul>
        <p class="password-page-follow">{{ 'general.password_page.spread_the_word' | t }}</p>
      {% endif %}

    </div>
  </div>

  <div class="password-page-row">
      <div class="password-page-col">
        <div class="password-footer">
          <div class="powered">
            &copy; {{ "now" | date: "%Y" }} {{ shop.name }}. {{ 'layout.general.designer_credits_html' | t }}<br>
          </div>
          <div class="shopify">
            {{ 'general.password_page.powered_by_shopify_html' | t }}
          </div>
        </div>
       </div>
    </div>
  </div>

<div class="overlay overlay-data">
<span class="close-me controls"><div class="pass-close"><a class="ss-icon icon-close" href="javascript:;"></a></div></span>
<div class="modalbox">
  <div class="inputbox">
    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      {% if form.errors.count > 0 %}
        <script>
          $( document ).ready(function() {
            $( ".overlay" ).addClass('overlay-open');
          });
        </script>
      {% endif %}
      <label for="password">{{ 'general.password_page.login_form_password_label' | t }} </label>
      <div>
        <input type="password" name="password" id="password" autofocus placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"/>
        <input class="action_button sign_up" name="commit" type="submit" value="{{ 'general.password_page.login_form_submit' | t }}" />
      </div>
    {% endform %}

    <div id="owner">{{ 'general.password_page.admin_link_html' | t }} or <a href="/admin/online_store/preferences?tutorial=unlock">change your password settings</a></div>
  </div>
</div>
</div>

<script>
$(function() {
  $( "#open-me" ).click(function() {
    $( ".overlay" ).addClass('overlay-open');
  });

  $( ".close-me" ).click(function() {
    $( ".overlay" ).removeClass( 'overlay-open' );
  });
});
</script>

<style>
  #password-page-bg {

    color: {{ settings.password_page_text_color }};

    {% if section.settings.use_background and section.settings.password-page-background == blank %}
      background: url({{ "password-page-background.jpg" | asset_url }}) center center;
    {% elsif section.settings.use_background and section.settings.password-page-background != blank %}
      background: url({{ section.settings.password-page-background | img_url: '2000x' }}) center center;
    {% else %}
      background-color: {{ settings.password_page_background_color }};
    {% endif %}

    {% if section.settings.pagework_page_bg_stretched %}
      background-repeat: no-repeat;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    {% endif %}
  }

  #password-container h1 {
    color: {{ settings.password_page_text_color }};
  }

  .password-page-message {
    color: {{ settings.password_page_text_color }};
    border-top: 1px solid {{ settings.password_page_text_color }};
    border-bottom: 1px solid {{ settings.password_page_text_color }};
  }

  .password-page-follow {
    color: {{ settings.password_page_text_color }};
  }

  .password-message{
    color: {{ settings.password_page_text_color }};
  }

  .password-social .social_icons a, .password-social .social_icons a:visited, .password-social .social_icons a:active {
    color: {{ settings.password_page_text_color }};
  }

  .password-footer {
    color: {{ settings.password_page_footer_text_color }};
  }

  .password-footer a {
    color: {{ settings.password_page_footer_link_color }};
  }

  #open-me a {
    color: {{ settings.password_page_text_color }};
  }
</style>

{% schema %}
{
  "name": "Password page",
  "class": "password-page",
  "settings": [
    {
      "type": "image_picker",
      "id": "custom_logo",
      "label": "Logo",
      "info": "720px wide recommended"
    },
    {
      "type": "checkbox",
      "id": "use_background",
      "label": "Use background image"
    },
    {
      "type": "image_picker",
      "id": "password-page-background",
      "label": "Background image",
      "info": "1800 x 1000px recommended"
    },
    {
      "type": "checkbox",
      "id": "pagework_page_bg_stretched",
      "label": "Stretch background to fill the password page",
      "default": true
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "richtext",
      "id": "newsletter_richtext",
      "label": "Text"
    },
    {
      "type": "header",
      "content": "Social media"
    },
    {
      "type": "checkbox",
      "id": "social_media",
      "label": "Display social icons",
      "default": true
    }
  ]
}
{% endschema %}
